---
# Default leaflet map page
layout: default
custom-foot: js/map-js.html
---
<h2 class="visually-hidden">Map of Collection Items</h2>
<div id="map-body">
    <div id="map-container">
        <div id="map"></div>
    </div>
    <div id="documents-panel">
        <div id="document-panel-header">
            <h2>Document Layers</h2>
            <span id="toggle-documents-panel" aria-expanded="true" aria-controls="document-list">
                <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" id='hide-toggle-arrow' fill="#000000"  width="24" height="24" transform="matrix(-1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#000000" d="M104.704 685.248a64 64 0 0 0 90.496 0l316.8-316.8 316.8 316.8a64 64 0 0 0 90.496-90.496L557.248 232.704a64 64 0 0 0-90.496 0L104.704 594.752a64 64 0 0 0 0 90.496z"></path></g></svg>
                <svg viewBox="0 0 30.727 30.727" xmlns="http://www.w3.org/2000/svg" id='show-toggle-arrow' fill="#000000" width="24" height="24"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M29.994,10.183L15.363,24.812L0.733,10.184c-0.977-0.978-0.977-2.561,0-3.536c0.977-0.977,2.559-0.976,3.536,0 l11.095,11.093L26.461,6.647c0.977-0.976,2.559-0.976,3.535,0C30.971,7.624,30.971,9.206,29.994,10.183z"></path> </g> </g></svg>
            </span>
        </div>
        <div id="document-list"></div> 
        </div> 
    </div>
</div>
